.fluid {
  letter-spacing: -.4em;
}

.fluid > * {
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: .1em;
}

body {
  /* font-family: "Kozuka Gothic Pr6N"; */
  font-family: sans-serif;
  position: relative;
  color: #323333;
  letter-spacing: .1rem;
}

@media only screen and (max-width: 1180px) {
  body {
    font-size: 9px;
  }
}

a:link, a:visited, a:active, a:hover {
  color: #bc1b21;
}

header {
  position: relative;
  z-index: 3;
  font-size: 16px;
  background: #fafbfd;
  box-shadow: 0 2px 1px #e9e9e9;
  width: 100%;
  height: 132px;
}

@media only screen and (max-width: 1180px) {
  header {
    height: 80px;
  }
}

header > div {
  height: 100%;
}

header .logo {
  margin-right: 66px;
  vertical-align: middle;
}

@media only screen and (max-width: 1180px) {
  header .logo {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1180px) {
  header .logo a {
    line-height: 80px;
  }
}

header .logo img {
  width: auto;
  height: 59px;
  vertical-align: middle;
}

@media only screen and (max-width: 1180px) {
  header .logo img {
    height: 40px;
  }
}

header nav {
  height: 132px;
}

header nav ul li {
  text-align: center;
  height: 132px;
  /* width: 138px; */
  margin: 0 24px;
}

header nav ul li a {
  text-decoration: none;
  line-height: 132px;
  height: 132px;
}

header nav ul li a:link, header nav ul li a:visited, header nav ul li a:active {
  color: #323333;
}

header nav ul li a:hover {
  color: #bc1b21;
}

header #menu {
  line-height: 132px;
  height: 132px;
  vertical-align: middle;
}

@media only screen and (max-width: 1180px) {
  header #menu {
    float: right;
    line-height: 80px;
    height: 80px;
  }
}

header #menu img {
  vertical-align: middle;
}

header .install {
  float: right;
  width: 164px;
  height: 132px;
}

header .install div {
  display: inline-block;
  line-height: 132px;
  width: 164px;
}

header .install div a {
  display: inline-block;
  background: #bc1b21;
  border-radius: 18px;
  color: #fff;
  font-size: 10.8px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 35px;
  width: 164px;
  height: 35px;
}

header .install div a:link, header .install div a:visited,
header .install div a:active header .install div a:hover {
  color: #fff;
}

header a.translate-en {
  margin-left: 0px;
  border: 1px solid #bc1b21;
  border-radius: 50%;
  color: #bc1b21;
  font-size: 10.8px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
}

#menu-list {
  display: none;
  position: relative;
  background: #fafbfd;
  width: 100%;
}

#menu-list.active {
  display: block;
}

#menu-list li {
  border-top: 1px solid #979798;
}

#menu-list li a {
  display: block;
  padding: 2em 30px;
}

#menu-list li a:link, #menu-list li a:visited,
#menu-list li a:active #menu-list li a:hover {
  color: #323333;
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 229px;
  text-align: center;
}

@media only screen and (max-width: 1180px) {
  h2 {
    font-size: 18px;
    line-height: 115px;
  }
}

form {
  margin: 0 auto;
  max-width: 600px;
}

form input[type=text],
form input[type=password] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-left: 29px;
  border: 1px solid #979798;
  letter-spacing: .1rem;
  line-height: 58px;
  height: 58px;
  width: 100%;
}

@media only screen and (max-width: 1180px) {
  form input[type=text],
  form input[type=password] {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 39px;
    height: 39px;
  }
}

form input[type=checkbox] {
  margin: 44px 0;
}

@media only screen and (max-width: 1180px) {
  form input[type=checkbox] {
    margin: 22px 0 44px;
  }
}

form div {
  margin-top: 44px;
}

@media only screen and (max-width: 1180px) {
  form div {
    margin-top: 22px;
  }
}

form div p {
  line-height: 1.6;
}

form button {
  display: block;
  margin-bottom: 110px;
  background: #fff;
  border: 2px solid #bc1b21;
  color: #bc1b21;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .2rem;
  line-height: 65px;
  width: 100%;
  height: 65px;
}

@media only screen and (max-width: 1180px) {
  form button {
    margin-bottom: 63px;
    font-size: 12px;
    line-height: 62px;
    height: 62px;
  }
}

ul.vertical {
  margin-bottom: 83px;
  max-height: 432px;
}

@media only screen and (max-width: 1180px) {
  ul.vertical {
    margin-bottom: 42px;
  }
}

@media only screen and (min-width: 1181px) {
  ul.vertical.scrollable {
    overflow-y: scroll;
  }
}

ul.vertical li {
  border-top: 1px solid #979798;
  line-height: 81px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 1180px) {
  ul.vertical li {
    line-height: 40px;
  }
}

ul.vertical li span {
  margin: 0 4em;
}

@media only screen and (max-width: 1180px) {
  ul.vertical li span {
    margin: 0 2em 0 1em;
  }
}

ul.vertical li:last-of-type {
  border-bottom: 1px solid #979798;
}

footer {
  background: #f1f1f1;
  padding: 29px 0;
}

footer p {
  text-align: right;
  line-height: 132px;
}

@media only screen and (max-width: 1180px) {
  footer p {
    font-size: 7px;
    line-height: 1.6;
  }
}

.heading {
  margin: 110px 0;
}

@media only screen and (max-width: 1180px) {
  .heading {
    margin: 64px 0;
  }
}

.heading h1 {
  font-size: 36px;
  margin-bottom: 32px;
  text-align: center;
}

@media only screen and (max-width: 1180px) {
  .heading h1 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.heading p {
  text-align: center;
  line-height: 1.6;
}

.outermost {
  margin: 0 auto;
  max-width: 1120px;
}

@media only screen and (max-width: 1180px) {
  .outermost {
    margin: 0 27px;
  }
}

.dim {
  display: none;
  position: absolute;
  top: -80px;
  background: #000;
  opacity: .65;
  width: 100%;
  height: 100%;
}

.dim.active {
  display: block;
}

.hero {
  background-image: url("/img/eyecatching.png");
  background-position: center center;
  background-size: cover;
}

.hero h1 {
  color: #fff;
  font-size: 48px;
  line-height: 500px;
  text-align: center;
}

.hero div {
  padding: 90px 0;
  text-align: center;
}

.hero div h1 {
  font-size: 24px;
  line-height: 96px;
}

.hero div a {
  display: inline-block;
  padding: 12px 4em;
  background: #fff;
  border: 1px solid #bc1b21;
  border-radius: 18px;
  color: #bc1b21;
  font-weight: bold;
}

.introduction .video-introducing {
  margin-bottom: 81px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.introduction .video-introducing iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1181px) {
  .introduction .image-introducing .gutter:first-of-type {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1181px) {
  .introduction .image-introducing .gutter:last-of-type {
    padding-left: 40px;
  }
}

.introduction .image-introducing .card {
  padding: 65px 74px;
  border: 1px solid #979798;
  border-radius: 8px;
}

@media only screen and (max-width: 1180px) {
  .introduction .image-introducing .card {
    margin-top: 22px;
    padding: 45px 40px;
  }
}

.introduction .image-introducing .card h3 {
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
}

@media only screen and (max-width: 1180px) {
  .introduction .image-introducing .card h3 {
    font-size: 16px;
  }
}

.introduction .image-introducing .card img {
  margin: 42px 0;
  width: 100%;
}

@media only screen and (max-width: 1180px) {
  .introduction .image-introducing .card img {
    margin: 21px 0;
  }
}

.introduction .image-introducing .card p {
  line-height: 1.6;
}

@media only screen and (max-width: 1180px) {
  .introduction .image-introducing .card p {
    font-size: 10px;
  }
}

section.tutorial {
  margin-bottom: 100px;
  line-height: 1.6;
}

@media only screen and (max-width: 1180px) {
  section.tutorial {
    margin-bottom: 50px;
  }
}

section.tutorial h2 {
  margin-bottom: 36px;
  font-size: 36px;
  line-height: 1;
  text-align: left;
}

section.tutorial img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1180px) {
  section.tutorial h2 {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.4;
  }
}

section.tutorial section.case h3 {
  margin-bottom: 36px;
}

@media only screen and (max-width: 1180px) {
  section.tutorial section.case h3 {
    margin-bottom: 18px;
  }
}

section.tutorial pre {
  margin: 36px 0;
  padding: 26px 36px;
  background: #f1f1f1;
}

@media only screen and (max-width: 1180px) {
  section.tutorial pre {
    margin: 18px 0;
    padding: 13px 18px;
    overflow-x: scroll;
  }
}

section.page {
  margin-bottom: 100px;
  line-height: 1.6;
}

@media only screen and (max-width: 1180px) {
  section.page {
    margin-bottom: 50px;
  }
}

section.page h2 {
  margin-bottom: 36px;
  margin-top: 100px;
  font-size: 36px;
  line-height: 1;
  text-align: left;
}

@media only screen and (max-width: 1180px) {
  section.page h2 {
    margin-bottom: 18px;
    margin-top: 50px;
    font-size: 18px;
    line-height: 1.4;
  }
}

section.page section.case h3 {
  margin-bottom: 36px;
}

@media only screen and (max-width: 1180px) {
  section.page section.case h3 {
    margin-bottom: 18px;
  }
}

section.page pre {
  margin: 36px 0;
  padding: 26px 36px;
  background: #f1f1f1;
}

@media only screen and (max-width: 1180px) {
  section.page pre {
    margin: 18px 0;
    padding: 13px 18px;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 1180px) {
  .sp-hide {
    display: none !important;
  }
}

@media only screen and (min-width: 1181px) {
  .pc-hide {
    display: none !important;
  }
}

.g-1 {
  width: 100%;
}

@media only screen and (min-width: 1181px) {
  .pc-1-2 {
    width: 50%;
  }
}
