---
layout: default
title: PROCESS WARP
lang: en
---

<div class="home">
  <div class="container-fluid" style="background-image: url('/img/home/clip0.jpg'); background-repeat: no-repeat; background-position:center center; background-size:cover; color:#fff;">
    <div class="row">
      <h6 class="text-right col-sm-10 col-sm-offset-1" style="color:gray;">
	Image by
	<a href="https://www.flickr.com/photos/maleny_steve/205510696/">Serendigity</a>
	.
      </h6>
      <div class="visible-sm visible-md visible-lg col-sm-12">
	<h1 class="col-sm-12 visible-sm" style="margin-top:0.5em;"></h1>
	<h1 class="col-sm-12 visible-md visible-lg" style="margin-top:1em;"></h1>
      </div>
      
      <h2 class="visible-xs" style="text-shadow: 0 0 3px black;">
	Freely connect process spaces* across multiple computers, just like science fiction!
      </h2>
      <h1 class="text-center col-sm-10 col-sm-offset-1 visible-sm visible-md visible-lg"
	  style="text-shadow: 0 0 3px black;">
	Freely connect process spaces* across multiple computers, just like science fiction!
      </h1>
      <div class="visible-sm visible-md visible-lg col-sm-12">
	<h1 class="col-sm-12 visible-sm" style="margin-top:0.5em;"></h1>
	<h1 class="col-sm-12 visible-md visible-lg" style="margin-top:1em;"></h1>
      </div>
      <p class="text-right col-sm-10 col-sm-offset-1"
	 style="white-space:nowrap;">
	The "process space" refers to<wbr>
	the processor and memory resources etc.
      </p>
    </div>
  </div>
  
  <div class="container-fluid" style="margin-top:1em;">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
	<img src="/img/home/clip1.svg" width="100%"/>
	<p>
	  Connect servers, PCs, smart phones, and web browsers together as one - no need to select a single platform.
	  Share the process space among the connected computers and freely pass the running application between machines.
	</p>
      </div>
      <div class="col-sm-5">
	<img src="/img/home/clip2.svg" width="100%"/>
	<p>
	  The process space changes flexibly according to the environment.

	  There may be times where you need to distribute processing of an application
    across a number of computers, while at other times you want to continue
    processing an application offline on a single computer.
	  (Under active development)
	</p>
      </div>
    </div>

    <div class="row">
      <h2 class="col-sm-10 col-sm-offset-1">News</h2>  
    </div>

    {% for post in site.posts %}
    {% if post.lang != "ja" and post.category == "news" %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
	<h4>
	  <span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h4>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
