---
layout: default
title: PROCESS WARP
lang: en
---

<div>
  <div class="hero">
    <h1 class="sp-hide">Combining the power of your devices.</h1>
    <div class="pc-hide">
      <h1>Combining the power of your devices.</h1>
      <a href="{{ site.baseurl }}/{{ page.lang }}/getstarted.html">Get started</a>
    </div>
  </div>
  <section class="introduction">
    <h2>Potential of PROCESS WARP</h2>
    <div class="video-introducing">
      <iframe src="https://www.youtube.com/embed/CHEZfCkvvRk"></iframe>
    </div>
    <div class="image-introducing fluid outermost">
      <div class="gutter g-1 pc-1-2">
        <div class="card">
          <h3>Connect servers, PCs, smart phones, and web browsers together as one</h3>
          <img src="/img/home/clip1.svg" alt="clip1">
          <p>Connect servers, PCs, smart phones, and web browsers together as one - no need to select a single platform.
	    Share the process space among the connected computers and freely pass the running application between machines.
          </p>
        </div>
      </div>
      <div class="gutter g-1 pc-1-2">
        <div class="card">
          <h3>The process space changes flexibly according to the environment.</h3>
          <img src="/img/home/clip2.svg" alt="clip2">
          <div class="clip"></div>
          <p>The process space changes flexibly according to the environment.
	    There may be times where you need to distribute processing of an application
            across a number of computers, while at other times you want to continue
            processing an application offline on a single computer.
	    (Under active development)
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <h2>News</h2>
    <ul class="vertical scrollable outermost">

      {% for post in site.posts %}
      {% if post.lang != "ja" and post.category == "news" %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
