<footer>
  <p class="outermost">
    <a href="https://www.facebook.com/processwarp"><img class="logo" src="/img/logo_facebook.png" witdh="24px" height="24px"></a>
    <a href="https://github.com/processwarp"><img class="logo" src="/img/logo_github.png" witdh="24px" height="24px"></a>
    <a href="https://twitter.com/processwarp"><img class="logo" src="/img/logo_twitter.png" witdh="24px" height="24px"></a>
    <br class="pc-hide">
    PROCESS WARP is open-source.<br class="pc-hide">
    Published with <a href="https://github.com/processwarp/processwarp">GitHub Pages</a>.
    </p>
</footer>
