<header class="site-header">
  <nav class="navbar navbar-default" style="margin-bottom:0;">
    <div class="container-fluid col-sm-10 col-sm-offset-1">

      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}/">
	  {{ site.title }}
	</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	  <li><a class="page-link" href="{{ site.baseurl }}/{{ page.lang }}/try/">Try!</a></li>
	  <li><a class="page-link" href="{{ site.baseurl }}/{{ page.lang }}/docs/">Documentation</a></li>
	  <li><a class="page-link" href="https://github.com/{{ site.github_account }}">GitHub</a></li>
	  {% if page.lang == "ja" %}
	  <li><a class="page-link" href="/en/">English</a></li>
	  {% else %}
	  <li><a class="page-link" href="/ja/">日本語</a></li>
	  {% endif %}
	</ul>
      </div>

  </div>
</header>
