<header>
  <div class="fluid outermost">
    <div class="logo"><a href="{{ site.baseurl }}/{{ page.lang }}/"><img src="/img/logo.png" alt="PROCESS WARP"></a></div>
    <nav class="sp-hide">
      <ul class="fluid">
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/getstarted.html">Get started</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/docs/">Document</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/signup.html">Sign-up</a></li>
        <li><a href="https://github.com/processwarp/processwarp">GitHub</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/contact.html">Contact</a></li>
      </ul>
    </nav>
    <div id="menu" class="pc-hide">
      <div><img src="/img/menu.png" width="32" height="24" alt="menu"></div>
      <div class="sp-hide"><img src="/img/close.png" width="28" height="28" alt="close"></div>
    </div>
    {% if page.lang == "ja" %}
    <a href="/en/" class="translate-en sp-hide">E</a>
    {% else %}
    <a href="/ja/" class="translate-en sp-hide">日</a>
    {% endif %}
    <div class="install sp-hide">
      <div><a href="{{ site.baseurl }}/{{ page.lang }}/getstarted.html">Get stated</a></div>
    </div>
  </div>
  <ul id="menu-list" class="pc-hide">
    <li><a href="{{ site.baseurl }}/{{ page.lang }}/getstarted.html">Get started</a></li>
    <li><a href="{{ site.baseurl }}/{{ page.lang }}/docs/">Document</a></li>
    <li><a href="{{ site.baseurl }}/{{ page.lang }}/signup.html">Sign-up</a></li>
    <li><a href="https://github.com/processwarp/processwarp">GitHub</a></li>
    <li><a href="{{ site.baseurl }}/{{ page.lang }}/contact.html">Contact</a></li>
    {% if page.lang == "ja" %}
    <li><a href="/en/">English</a></li>
    {% else %}
    <li><a href="/ja/">日本語</a></li>
    {% endif %}
  </ul>
</header>
