---
layout:  page
title:   ドキュメント
permalink: /ja/docs/
lang:    ja
---

<ul class="post-list">
  {% for post in site.posts %}
  {% if post.category == "docs" %}
  <li>
    <span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>
    {% if post.lang == "ja" %}
    <span class="label label-danger">ja</span>
    {% elsif post.lang == "en"  %}
    <span class="label label-primary">en</span>
    {% else %}
    <span class="label label-success">{{ post.lang}}</span>
    {% endif %}

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
