---
layout:  default
title:   Document
permalink: /ja/docs/
lang:    ja
---

<div>
  <div class="outermost">
    <section>
      <h2>Document</h2>
      <ul class="vertical">
        {% for post in site.posts %}
        {% if post.category == "docs" and post.obsolute != true %}
        <li>
          <span>{{ post.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;{{ post.lang }}</span>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>Old-Document</h2>
      <ul class="vertical scrollable">
        {% for post in site.posts %}
        {% if post.category == "docs" and post.obsolute %}
        <li>
          <span>{{ post.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;{{ post.lang }}</span>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
